# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\david\OneDrive - Edinburgh College\2021 - Semester 2\Object Oriented Programming_JorgeCorreia_H17135\IntelliJ Projects\Java lab 10 - Method Overloading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
